{% extends "base.html" %}
{% block title %}Войти | Surfers{% endblock %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Войти" %}{% endblock %}

{% block content %}

<section class="section is-light">
    <div class="overlay">
        <div class="container home">
            <div class="columns is-centered">
                <div class="column is-4 has-text-centered">
                    <div class="login_text_desktop">
                        <a href="/">
                            <h1 class="title home is-3 title-category">Surffers</h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-3">
                    <br>
                    <div class="box">
                        <div class="columns">
                            <div class="column is-12">
                                <h1 class="title is-4 has-text-black">
                                    Войти
                                </h1>
                                <div class="">
                                    <h2 class="title has-text-dark is-6">
                                        Собирайте программы, сервисы и сайты, которые помогут вам работать и учиться.
                                    </h2>
                                </div>
                                <br>
                                {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                {% include "socialaccount/snippets/login_extra.html" %}
                                {% else %}
                                <p>{% blocktrans %}If you have not created an account yet, please,
                                    <a href="{{ signup_url }}">register</a> .{% endblocktrans %}
                                </p>
                                {% endif %}
                                <form action="{% url 'account_login' %}" class="login" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <a class="secondaryAction has-text-link"
                                       href="{% url 'account_reset_password' %}">
                                        {% trans "Забыли свой пароль?" %}
                                    </a>

                                    <br>

                                    <button class="button primaryAction is-black login is-outlined is-medium is-rounded" type="submit">
                                        {% trans "Sign In" %}
                                    </button>
                                    {% if redirect_field_value %}
                                    <input class="field" name="{{ redirect_field_name }}" type="hidden"
                                           value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12">
                                <hr>
                                <p class="subtitle is-7 has-text-centered has-text-black">
                                    {% blocktrans with site.name as site_name %}
                                    Не зарегистрированы в Surffers?

                                    <a class="has-text-link" href="{{ signup_url }}">
                                        Регистрация
                                    </a>
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<span class="toastbox" role="alert"></span>

{% endblock %}

{% block scripts %}
<script>
// COOKIE
function getCookie(name) {
    let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }
  let cookiecook = getCookie("cookiecook"),
  cookiewin = document.getElementsByClassName('cookie-banner')[0];

  if (cookiecook != "no") {
    // показываем
    cookiewin.style.display="block";
    // закрываем по клику
    document.getElementById("cookie_close").addEventListener("click", function(){
    cookiewin.style.display="none";

    let date = new Date;
    date.setDate(date.getDate() + 1);
    document.cookie = "cookiecook=no; path=/; expires=" + date.toUTCString();
    });
  }
</script>
{% endblock %}