{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<section class="section is-light">


        <div class="container home">
             <div class="columns is-centered">
                <div class="column is-4 has-text-centered">
                    <div class="login_text_desktop">
                        <a href="/">
                            <h1 class="title home is-3 title-category">Surffers</h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-3">
                    <div class="box">
                            <div class="columns">
                                <div class="column is-12">
                                    <h1 class="title is-4 has-text-black">
                                        Регистрация
<!--                                        Registration-->
                                    </h1>
                                    <form action="{% url 'account_signup' %}" class="login" id="signup_form" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        {% if redirect_field_value %}
                                        <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <br>
                                        <button class="button is-black login is-medium is-rounded" type="submit">{% trans "Signup" %}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-12">
                                    <hr>
                                    <p class="subtitle is-7 has-text-centered has-text-black">
                                        {% blocktrans %} Уже есть аккаунт?
                                        <a class="has-text-link" href="{{ login_url }}">Войти</a>
                                        {% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

</section>



{% endblock %}
{% block scripts %}

{% endblock %}