{% load static %}
{% load humanize %}

{% block content %}
<div id="add-link">

    <a @click="toggleDialog" class="button is-black is-outlined add-link-btn" title="Добавьте ссылку">
        <span class="icon">
                       <svg style="fill: currentColor; width: 1rem; height: 1rem;" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>add</title>
                            <path d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
                            </path>
                          </svg>
                   </span>
    </a>

    <!-- ModalDeletedCategory -->
    <div class="modal" v-bind:class="{ 'is-active': showDialog }">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Добавить ссылку</p>
                <button class="delete" aria-label="close" @click="showDialog = !showDialog"></button>
            </header>

            <section class="modal-card-body">
                <div class="column is-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Название ссылки</label>
                            <div class="control">
                                {{ AddLinkForm.title}}
                            </div>
                            <p class="help has-text-black">
                                        Добавьте ссылку на соцсеть
                                    </p>
                        </div>
                        <div class="field">
                            <label class="label">URL</label>
                            <div class="control">
                                {{ AddLinkForm.url }}
                            </div>
                            <p class="help has-text-black">
                                        Добавьте ссылку на соцсеть
                                    </p>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link login" type="submit"
                                                name="btnlink">
                                            Добавить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <hr>
                    {% for link in links %}
                <p class="u-links">
                    <a class="icon-bookmark " href="{{ link.url }}" target="_blank">
                </a>
                    <a class="icon-bookmark has-text-danger" href="{% url 'link_delete' link.id %}">
                        Удалить
                </a>
                </p>
                {% endfor %}

                </div>
            </section>
        </div>
    </div>

    <!-- EndModalDeletedCategory -->

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#add-link',
        delimiters: ['[[', ']]'],
        data() {
            return {
                showDialog: false,
            }
        },
        methods: {
            toggleDialog() {
                this.showDialog = true
            },
        }
    })

</script>
{% endblock %}