.container.category {
    margin-top: 100px;
    width: 100%;
}

.title.category {
    font-size: 42px;
  font-weight: 900;
}
.category-list {
    font-size: 32px;
  line-height: 20px;
  font-weight: 900;
}

.card.category {
    height: 250px;
    width: 100%;
    min-width: 245px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}
.card.category:hover {
    transform: scale(1.05, 1.05);
}

.card.category .card-content, .card.category .content {
    padding: 20px;
}

.category-body {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.date.postdate {
    margin-bottom: 10px;
}

#add-category a {
    margin-left: 20px;
}

#add-bookmark {
    margin-top: 20px;
}