
/*
 * Stories
 */
.inside-wrapper {
  position: relative;
  border-radius: 20px 20px;
  overflow: hidden;
}

.stories {
  width: 100%;
  height:300px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}
.stories .story-item {
  cursor: pointer;
  height:250px;
    width:250px;
    border-radius: 1em;

  overflow: hidden;
  position: relative;
  display: inline-block;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  z-index: 100;
}

.stories .story-item:nth-child(1) {
  height:250px;
    width:250px;
}
.stories .story-item:nth-child(4) {
  width:250px;
}


.stories .card.slider {
    height:250px;
    width:250px;
    border-radius: 1em;
    cursor: pointer;

}
.stories .story-item:hover{
    transform: scale(1.05, 1.05);
}

.stories .story-item a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

}

.sts-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ld {
  width: 100%;
  height: 100%;
}



.prev {
  display: none;
  left: 0px;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.01) 10%, white);
}
.prev svg {
  left: 5px;
}



p.title-body {
    padding-bottom: 10px;
}
.next {
  display: none;
  right: 0px;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.01) 10%, white);
}
.next svg {
  right: 5px;
}

.nav-btn {
  top: 0;
  position: absolute;
  height: 100%;
  width: 80px;
  border: none;
  cursor: pointer;
}
.nav-btn svg {
  position: absolute;
  top: 42%;
}

.nav-btn--active {
  display: block;
}



@media screen and (max-width: 800px) {
  .nav-btn {
    outline: none;
  }
}
@media screen and (max-width: 700px) {
  .nav-btn {
    outline: none;
  }
}

