.hero .slider-text {
    color: rgba(255, 255, 255, 0.8);
     margin: 0 auto;

    z-index: 3; }
    .hero .slider-text .text {
      position: relative;
      z-index: 0; }
    .hero .slider-text .subheading {
      text-transform: uppercase;
      font-weight: 500;
      color: #000;
      font-size: 12px;
      display: inline-block;
      letter-spacing: 3px;
      margin-bottom: 5px;
      position: relative;
      z-index: 0;

      }

      @media (max-width: 991.98px) {
        .hero .slider-text .subheading {
          margin-left: 0; } }
      .hero .slider-text .subheading:after {
        position: absolute;
        bottom: -2px;
        right: 0;
        content: '';
        width: 45px;
        height: 1px;
        background: #000; }
    .hero .slider-text h1, .hero-wrap .slider-text .h1 {
      font-weight: 800;
      color: #000;
      font-size: 7vw;
      line-height: 1.2;

      }
      .hero .slider-text h1 span, .hero-wrap .slider-text .h1 span {
        color: var(--main-bg-color);

        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--main-bg-color); }
      @media (max-width: 991.98px) {
        .hero .slider-text h1, .hero-wrap .slider-text .h1 .p {
          font-size: 20vw;
            }
            .hero .slider-text p {
                font-size: 18px;
            }
          }
.hero.home {
    margin-top: 100px;
}
.hero.home .hero-body {
    padding-left: 0px;
    padding-right: 0px;
}
.section.home {
    padding-top: 0;
}
.border-right {
    border-right: 1px solid #F5F5F5;
    margin-left: 50px;
    margin-right: 50px;
}
.pagination-list li  a.is-current {
    border: 1px solid white;
    background: #000;
}
.pagination-list li  a.pagination-link:hover {
    background: black;
    border: 1px solid black;
    color: #ffffff;
}


.form-donate {
    border: 1px solid red;
    margin-left: 0;
    padding: 0;
}



/* List element */
 .forloop {
  font-size: 1rem;
}
.is-divider {
  border-left: 1px solid #000;
  margin: auto 10px;
  height: 30px;
}

.block-home-category {
    position: absolute;
    width: 85%;
    bottom: 20px;
}
.block-home-bookmark {
    position: absolute;
    top: 100px;
}