@media (max-width: 25600px) {
/* Login */
  .login_text_mobile {
    display: none
}

  }

  @media (max-width: 1920px) {
  /* Login */
  .login_text_mobile {
    display: none;
}
   /* Home */
 .title.home {
    font-size: 48px;
    font-weight: 900;
    line-height: 35px;
    text-decoration: none solid rgb(24, 24, 24);
}

/* Profile */
.card.profile {
    height:250px;
    border-radius: 1em;
    cursor: pointer;
}
.level.is-mobile.mobile {
    display: none;
}

  }

  @media (max-width: 1680px) {

  }

  @media (max-width: 1440px) {

  }



  @media (max-width: 1024px) {

  }

 @media screen and (max-width: 550px){

/* Login */
.login_text_desktop {
    display: none;
}



 /* Profile */
 .card.profile {
    height:150px;
    border-radius: 1em;
    cursor: pointer;
}
 .block.share a {
    margin-top: 20px;
}
.level.is-mobile {
    display: none;
}
.level.is-mobile.mobile {
    display: flex;
}


 }