.navbar {
    border-bottom: 1px solid #D9E1EC;
}
.navbar-burger.burger {
    height: 80px;
    width: 80px;
}
/* Navbar */
.title-logo {
    font-size: 28px;
    font-weight: 900;
}
.notifications.tag {
    position: absolute;
    left: 25px;
    background: #276CDA;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #fff;
}
/* Centered Menu */
.navbar.has-centered-menu .navbar-start {
  flex-grow: 1;
  justify-content: center;
}










