
/* Centered Menu
.navbar.has-centered-menu .navbar-start {
  flex-grow: 1;
  justify-content: center;
}*/

.navbar-burger.burger {
    height: 80px;
    width: 80px;
}
/* Navbar */
.title-logo {
    font-size: 28px;
    font-weight: 900;
}

.navbar {
    border-bottom: 1px solid #D9E1EC;
    background-color: rgba(255,255,255,0.9);
      -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}






