
/* Centered Menu */
.navbar.has-centered-menu .navbar-start {
  flex-grow: 1;
  justify-content: center;
}
.navbar-item.logo {
    padding-bottom: 15px;
}
.navbar-burger.burger {
    height: 100px;
    width: 80px;
}
/* Navbar */
.title-logo {
    font-size: 28px;
    font-weight: 900;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: all 0.2s ease-out;
}






