<div class="cookie-banner">
    <figure class="image is-128x128">
      <img src="/static/img/home_img.png">
    </figure>
    <div class="tgt">
        <h1 class="title is-5 has-text-white"> Cookie </h1>
        <p class="subtitle is-6 has-text-white">
            Мы используем файлы cookie для персонализации вашего сайта<br />
            опыт и анализ посещаемости сайта.
        </p>
    </div>
    <br>
    <a class="button is-link cookie_close" id="cookie_close">
        Принимаю
    </a>
</div>

