{% load static %}
{% load humanize %}
{% load i18n %}
{% load contact_tags %}
{% load account socialaccount %}

{% block content %}

    <div>
        <p class="title is-6">Получите лучшее от Surffers прямо на почтовый ящик</p>
        {% contact_form %}
    </div>
<hr>
<iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=oWRxUgEUpXw.230110&" width="100%" height="480"
        frameborder="0" allowtransparency="true" scrolling="no"></iframe>
<hr>
<div class="block">
    <a href="https://vc.ru/u/762241-surffers" class="has-text-black is-size-7">Блог</a> &bull;
    <a href="{% url 'contact' %}" class="has-text-black is-size-7">Контакт</a> &bull;
    <a href="#" class="has-text-black is-size-7">О нас</a> &bull;
    <a href="{% url 'sponsors' %}" class="has-text-black is-size-7">Спонсоры</a> &bull;
    <a class="has-text-black is-size-7" href="https://school.surffers.ru/">Курсы</a> &bull;
    <a href="{% url 'price' %}" class="has-text-black is-size-7">Тарифы</a> &bull;
    <a href="{% url 'privacy' %}" class="has-text-black is-size-7">Политика конфиденциальности</a>
</div>


<p class="heading">
    &copy; 2022 Surffers.
</p>


{% endblock %}

{% block scripts %}

{% endblock %}