{% load static %}
{% load humanize %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}


<!--    Navbar    -->
<nav class="navbar is-fixed-top is-flex has-centered-menu" id="navbar">

    <div class="container">

        <div class="navbar-brand">

              <a class="navbar-item logo" href="/">

                <h1 class="navbar-item title-logo">Surffers</h1>
            </a>

          <div class="navbar-item">

          </div>
            <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
        </div>



    <div class="navbar-menu" id="navMenubd-example">
        <div class="navbar-start">
                                <a class="navbar-item" href="/"> Главная </a>
                                <a class="navbar-item" href="{% url 'categories' %}"> Категории </a>
                                <a href="{% url 'board' %}" class="navbar-item"> Ссылки </a>
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link" href="https://school.surffers.ru/"> Курсы </a>
                                    <div class="navbar-dropdown">
                                        <a class="navbar-item"> About </a>
                                        <a class="navbar-item"> Jobs </a>
                                        <a class="navbar-item"> Contact </a>
                                        <hr class="navbar-divider">
                                        <a class="navbar-item"> Report an issue </a>
                                    </div>
                                </div>
                            </div>

        <div class="navbar-end">
            {% if request.user.is_authenticated %}
                {% include 'feed/include/add-category.html' %}
            {% endif %}


{% if request.user.is_authenticated %}
              <div class="navbar-item">
        <div class="dropdown is-right">
             <div class="dropdown-trigger">
    <button class="button is-black is-small is-rounded is-outlined add-link-btn " aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>

            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" href="{% url 'profile' request.user.username %}">
            <span class="icon-text">
              <span class="icon has-text-link">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                <span>
                    Профиль
                </span>
                   </span>
                    </a>
                    <a class="dropdown-item" href="{% url 'bookmark_favorite_lists' request.user.username %} ">
               <span class="icon-text">
              <span class="icon has-text-link">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <span>
                  Избранное
              </span>
                   </span>
          </a>
                    <a class="dropdown-item" href="{% url 'categories' %}">
            <span class="icon-text">
              <span class="icon has-text-link">
                  <i class="fa fa-folder-o" aria-hidden="true"></i>
              </span>
              <span>
                  Категории
              </span>
              </span>
                    </a>
                    <a class="dropdown-item" href="{% url 'board' %}">
                        <span class="icon-text">
              <span class="icon has-text-link">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
              </span>
              <span>
                  Ссылки
              </span>
                  </span>
                    </a>
                    <a class="dropdown-item" href="{% url 'tests' %}">
                        <span class="icon-text">
                  <span class="icon has-text-link">
                    <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
                  </span>
                  <span>Тесты</span>
                </span>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="{% url 'account_logout' %}" class="dropdown-item has-text-danger">
                        Выход
                    </a>
                </div>
            </div>
        </div>
    </div>

{% else %}
            <div class="buttons">
                <a class="button is-black is-small is-rounded is-outlined" href="{% url 'account_login' %}">
                    Войти
                </a>

                <a class="button is-black is-small is-rounded" href="{% url 'account_signup' %}">
                    Регистрация
                </a>
            </div>
            {% endif %}
        </div>

        </div>

    </div>




</nav>
<!--    End Navbar    -->

{% endblock %}

{% block scripts %}

<script>
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.boxShadow = "0 1em 1em rgb(0 0 0 / 10%)";
    document.getElementById("navbar").style.borderBottom = "none";
  } else {

    document.getElementById("navbar").style.boxShadow = "none";


  }
}

</script>
{% endblock %}