{% load static %}
{% load humanize %}


{% block content %}

<div id="add-category" class="is-flex">

         <a @click="toggleDialog" class="navbar-item" title="Создать категорию">
             <span class="icon-text is-flex">
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
             <span class="is-hidden-desktop ml">
                 Создать категорию
             </span>
             </span>
         </a>

    <!-- ModalDeletedCategory -->
    <div class="modal" v-bind:class="{ 'is-active': showDialog }">
        <div class="modal-background"></div>


        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">
                    Создать новую категорию
                </p>
                <button @click="showDialog = !showDialog" aria-label="close" class="delete"></button>
            </header>


             <section class="modal-card-body">
                <div class="column is-12">

                    <form class="form-add-category" enctype="multipart/form-data" method="post">
                        {% csrf_token %}


                                <div class="field">
                                    <label class="label">Название <span class="has-text-danger">*</span></label>
                                    <div class="control">
                                        {{ AddCategoryForm.title }}
                                    </div>
                                    <p class="help has-text-black">
                                        Название должно отражать суть категории.
                                        <!--                                        The name should reflect the essence of the category.-->
                                    </p>
                                </div>

                                <div class="field">
                                    <label class="label">Описание</label>
                                    <div class="control">
                                        {{ AddCategoryForm.body }}
                                    </div>
                                    <p class="help has-text-black">
                                        Описание должно быть кратким и четким.
                                        <!--                                        The description should be short and clear.-->
                                    </p>
                                </div>




                                <div class="field">
                                    <div class="control">
                                        <button class="button login is-link"
                                                type="submit" name="btnaddcategory">
                                            Создать
                                        </button>
                                    </div>
                                </div>

                        <span class="has-text-danger">*</span> обязательно к заполнению

                    </form>


                </div>

            </section>

        </div>

    </div>
    <!-- EndModalDeletedCategory -->


</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#add-category',
    delimiters: ['[[', ']]'],
    data() {
      return {
        showDialog: false,
      }
    },
    methods: {
      toggleDialog(id) {
        this.showDialog = true
      },
    }
  })


</script>

{% endblock %}