<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="yandex-verification" content="47a9ebcf2fa7a04b" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Организуйте все свои закладки с помощью Surffers. Найдите легко любую закладку с помощью удобного поиска и простой навигации.
    Сохраните ваши любимые ссылки и делитесь ими с друзьями. У нас есть все, что вам нужно, чтобы быть в курсе того, что развивается на вашем рабочем столе." name="description">

    <title>{% block title %}{% endblock %}</title>

    <link href="/static/img/surffers-logo.png" rel="icon" sizes="32x32" type="image/png">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/691d19bd0b.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">-->

    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92292364, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92292364" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>


{% block content %}

{% endblock %}
{% include 'core/include/cookie.html' %}
 <!-- Button up -->
  <a id="button" class="button is-black " style="position: fixed;  right: 22px; bottom: 55px;">
      <span class="icon">
        <i class="fas fa-arrow-up"></i>
      </span>
  </a>



<!-- Scripts -->
<script type="module" src="{% static 'js/scripts.js' %}"></script>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script src="{% static 'js/tests.js' %}"></script>

<script src="{% static 'js/sharer.js' %}"></script>


<!-- End scripts -->

{% block scripts %}
<script>
// COOKIE
function getCookie(name) {
    let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }
  let cookiecook = getCookie("cookiecook"),
  cookiewin = document.getElementsByClassName('cookie-banner')[0];

  if (cookiecook != "no") {
    // показываем
    cookiewin.style.display="block";
    // закрываем по клику
    document.getElementById("cookie_close").addEventListener("click", function(){
    cookiewin.style.display="none";

    let date = new Date;
    date.setDate(date.getDate() + 1);
    document.cookie = "cookiecook=no; path=/; expires=" + date.toUTCString();
    });
  }
</script>
{% endblock %}
<!-- End Scripts -->
</body>

</html>