{% extends 'base.html' %}
{% load static %}
{% block title %}404 Error Page{% endblock %}
{% block content %}




<div class="container">
     <section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title">404 </h1>
          <p class="subtitle">Page Not Found.</p>
          <a class="button button is-dark is-outlined">Home</a>
          <a class="button is-dark">Contact</a>
        </div>
      </div>
    </div>
  </section>
</div>
  



   

{% endblock %}
{% block scripts %}

{% endblock %}