{% extends 'base.html' %}
{% block title %}Тарифы | Surffers{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

   {% include 'core/include/navbar.html' %}
 <section class="hero">
     <div class="container profile">
        <div class="hero-body has-text-centered">
			<h1 class="title is-1 has-text-weight-bold">
			Выберите тариф для себя
			</h1>
			</div>
		 </div>
	  </section>

     <section class="section">
	<div class="container">

		<div class="spacer"></div>
		<div class="columns is-centered">
            <div class="column is-8">
                <div class="columns">
			<div class="column has-text-centered">
				<div class="box">
                    <h2 class="title is-3 has-text-weight-bold">Free</h2>
				<p class="subtitle is-6">Бесплатный план</p>
				<div class="price">
					<h2 class="title is-2 has-text-weight-bold">0₽</h2>
				</div>
				<div class="spacer"></div>
				<div class="features">
					<p>Добавлять в избранное</p>
					<p>Комментировать</p>
					<p>Голосовать</p>
					<p>5 Категорий</p>
					<p>50 Закладок</p>
				</div>
				<div class="spacer"></div>
					 <a href="#!" class="button is-dark paddle_button" data-theme="none" data-product="{{ 744394 }}" data-email="{{ user.email }}">
                           Начать бесплатно
                       </a>
                </div>
			</div>
			<div class="column has-text-centered">
				<div class="box best_selling">
<!--                    <h2 class="title is-3 has-text-link has-text-weight-bold">Best Selling</h2>-->
<!--				<p class="subtitle is-6">This is the best selling plan</p>-->
					  <h2 class="title is-3 has-text-weight-bold">Космос</h2>
				<p class="subtitle is-6">Выгодный план</p>
				<div class="price">
					<h2 class="title is-2 has-text-weight-bold">490₽<span class="has-text-weight-light">/месяц</span></h2>
				</div>
				<div class="spacer"></div>
				<div class="features has-text-link">
					<p>Добавлять в избранное</p>
					<p>Комментировать</p>
					<p>Голосовать</p>
					<p>50 Категорий</p>
					<p>500 Закладок</p>
				</div>
				<div class="spacer"></div>

<iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=2LYXyQIIX9Y.230209&" width="100%" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>​

                </div>

			</div>
                    <div class="column has-text-centered">
				<div class="box">
                    <h2 class="title is-3 has-text-weight-bold">Старт</h2>
				<p class="subtitle is-6">Начальный план</p>
				<div class="price">
					<h2 class="title is-2 has-text-weight-bold">290₽<span class="has-text-weight-light">/месяц</span></h2>
				</div>
				<div class="spacer"></div>
				<div class="features">
					<p>Добавлять в избранное</p>
					<p>Комментировать</p>
					<p>Голосовать</p>
					<p>25 Категорий</p>
					<p>250 Закладок</p>
				</div>
				<div class="spacer"></div>
			<iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=Tcq20gIJIfg.230209&" width="100%" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>​
                </div>
			</div>
		</div>
            </div>
        </div>
	</div>
</section>
{% endblock %}
{% block scripts %}

{% endblock %}