{% extends 'base.html' %}
{% block title %}Tests | Surffers{% endblock %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-end">
<div class="col-lg-8">
<div class="text rellaxHero" data-rellax-speed="-3">
<span class="subheading">👋 Привет</span>
<h1 class="mb-3">А<span>ле</span>кс.</h1>
<div class="row justify-content-end">
<div class="col-lg-9">
<h2>Я блогер &amp; Веб-разработчик 👨‍💻<br>базируюсь в Магадане </h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="hero home is-unselectable">
    <div class="hero-body">
        <div class="ld">
  <div class="inside-wrapper">
    <div class="stories">
        {% for category in categories %}
		<div class="story-item">
			 <a href="{% url 'category' category.slug category.id %}">
                            <div class="card slider">
                                <div class="card-content">
                                <h1 class="title is-4 has-text-weight-bold">
                                        {{ category.title|truncatechars:21 }}
                                    </h1>
                                        <div class="block-home-bookmark">
                                            {% for bookmark in category.bookmarks.all  %}
                                        {% if bookmark.published_date %}
                                        {% if forloop.counter <= 7 %}
                                            <a class="icon-bookmark" href="{{ bookmark.url }}" target="_blank"></a>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                        </div>
                                <div class="block-home-category">
                                    <p class="title is-6 has-text-weight-normal title-body is-lowercase">
                                        {{ category.body|truncatechars:50 }}
                                    </p>
                                    <p class="subtitle  is-7 has-text-weight-bold is-lowercase">
                                                @{{ category.user.username|truncatechars:25 }}
                                        </p>
                                </div>
                            </div>
                            </div>
                        </a>
		</div>
		 {% endfor %}
    </div>
    <button class="nav-btn prev"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
      </svg></button>
    <button class="nav-btn next"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
      </svg></button>
  </div>
</div>
    </div>
</section>






{% endblock %}

{% block scripts %}
<script>
  $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "22px", "padding-left": "30px",
    });
});
</script>

{% endblock %}