{% extends 'base.html' %}
{% block title %}Tests | Surffers{% endblock %}
{% load static %}
{% load humanize %}

{% block content %}


{% include 'core/include/navbar.html' %}

<section class="section">
    <div class="box container category is-unselectable">
         <div class="columns">
            <div class="column">
                <div class="is-pulled-left is-size-6 is-size-7-mobile">
                    Ссылки {{ bookmarks.all|length|intword }}
                </div>
                <div class="is-pulled-right">
                    <!--  Share  -->
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-light is-rounded is-small btn-ellipsis" title="Поделиться">
                            <span class="icon is-size-7">
                              <i class="fa fa-share-square-o" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item sharer" role="button">
                                    <span class="copy-icon">
                                        <i class="fas fa-link icon"></i>
                                        Копировать ссылку
                                    </span>
                                </a>
                                <a class="dropdown-item sharer" href="#" id="share-vk"
                                   title="Share VK">
                                    <span class="icon" style="color: #0071F2;">
                                        <i class="fab fa-vk"></i>
                                    </span>
                                    ВКонтакте
                                </a>
                                <a class="dropdown-item sharer" href="#" id="share-tg">
                                    <span class="icon" style="color: #27A0DF;">
                                        <i class="fab fa-telegram"></i>
                                    </span>
                                    Telegram
                                </a>
                                <a class="dropdown-item sharer" href="#" id="share-em">
                                    <span class="icon">
                                        <i aria-hidden="true" class="fa fa-envelope-o"></i>
                                    </span>
                                    Отправить на почту
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  End Share  -->
                </div>
            </div>
        </div>
        <h1 class="title home ">
            Мои ссылки
        </h1>

    <hr>
{% if messages %}
        {% for message in messages %}
        <article class="message is-{{ message.tags }}">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
        {% endif %}
             <div class="columns is-multiline is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
                        {% for bookmark in page_obj  %}
                            <div class="column is-4">
                                <p class="title is-7">Категория</p>
                                    <p class="subtitle is-6 has-text-weight-bold is-uppercase">
                                        <a href="{% url 'category'  bookmark.category.id  %}" class="has-text-black">
                                            {{ bookmark.category.title|truncatechars:21 }}
                                        </a>
                                    </p>

                                    <div class="subtitle is-5">

                                        <a class="icon-bookmark subtitle is-5 has-text-weight-bold is-capitalized"
                                           href="{{ bookmark.url }}"
                                           target="_blank">
                                            {{ bookmark.title|truncatechars:40 }}
                                            {% if bookmark.published_date %}
                                            <div class="dropdown is-hoverable">
                                                <div class="dropdown-trigger">
                                                <span class="icon has-text-success is-size-6 is-size-6-mobile">
                                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                </span>
                                                </div>
                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item">
                                                            <p>Эта категория<strong> опубликована</strong>, её видно в ленте новостей.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}

                                            {% endif %}

                                        </a>

                                        {% if user == category.user %}
                                        <div class="buttons is-pulled-right">
                                            <div class="is-pulled-left button is-light is-rounded is-small btn-ellipsis">
                                                <a href="{% url 'bookmark_edit'  bookmark.id %}"
                                                   class="">
                                                                        <span class="icon has-text-warning">
                                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                        </span>
                                                </a>
                                            </div>

                                        </div>
                                        {% endif %}

                                    </div>


                                    <p class="title is-6 has-text-weight-normal is-lowercase">
                                        {{ bookmark.body|truncatechars:150 }}
                                    </p>
                                    <p class="subtitle is-6">
                                        {% for tag in bookmark.tags.all %}
                                        <a href="{% url 'tag_detail_url' tag.slug %}" class="has-text-info">
                                        #{{ tag.name|truncatechars:25 }}
                                    </a>
                                    {% endfor %}
                                    </p>
                                    <p class="title is-7">
                                        <span class="subtitle is-7"> {{ bookmark.created_at|naturaltime }}</span>
                                        &nbsp; &bull;&nbsp;
                                        <a href="{% url 'bookmark' bookmark.id %}">
                                            <span class="subtitle is-7">{{ bookmark.comments.all|length }} Комментарии</span>
                                        </a>
                                        &bull;&nbsp;
                                        <a class='hero-btn'>
                                                                <span class="forloop has-text-weight-bold is-size-7-mobile">
                                                                 ☆
                                                                </span>
                                            <span class="forloop is-size-7-mobile"> 0</span>
                                        </a>
                                    </p>
                                <br>
                                </div>


                        {% endfor %}
                        </div>
        <br>
        </div>
</section>






{% include 'core/include/pagination.html' %}



 <!-- Button up -->
  <a id="button"><i class="fas fa-arrow-up"></i></a>
 <!-- Toast box -->
<span class="toastbox" role="alert"></span>

{% endblock %}

{% block scripts %}
<script>
 $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "22px", "padding-left": "30px",
    });
});
</script>

<script>
  var btn = $('#button');

  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      btn.addClass('show');
    } else {
      btn.removeClass('show');
    }
  });

  btn.on('click', function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: 0
    }, '300');
  });
</script>
{% endblock %}